.basket {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px auto;

  .items {
    max-width: 1000px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }

    .basketItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        svg {
          &:hover {
            color: coral;
            cursor: pointer;
          }
        }
      }
    }
  }

  button {
    font-size: 1.2em;
  }

}

.submitOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  min-height: 300px;
  width: 100%;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    button {
      font-size: 1.1em;
    }
  }
}